# Default ignored files
/shelf/
/workspace.xml
.idea
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.env
.DS_Store
# any pycache
__pycache__/
